 <div class="container">
  <div class="row">
    <div *ngFor="let theatre of theatres" class="col-md-12 mb-4">
      <div class="card bg-light">
        <img [src]="theatre.thumbnail_url" alt="{{theatre.theatre_name}} thumbnail" class="card-img-top">
        <div class="card-body">
          <h5 class="card-title">{{theatre.theatre_name}}</h5>
          <p class="card-text">{{theatre.address}}</p>
          <p class="card-text">Customer Rating: {{theatre.customer_rating}}</p>
          <div class="table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th>Movie</th>
                  <th>Time</th>
                  <th>Book Now</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>{{theatre.show1_movie}}</td>
                  <td>{{theatre.show1_time}}</td>
                  <td><button type="button" class="btn btn-primary" (click)="open(bookingModal)">Book Now</button></td>
                </tr>
                <tr>
                  <td>{{theatre.show2_movie}}</td>
                  <td>{{theatre.show2_time}}</td>
                  <td><button type="button" class="btn btn-primary" (click)="open(bookingModal)">Book Now</button></td>
                </tr>
                <tr>
                  <td>{{theatre.show3_movie}}</td>
                  <td>{{theatre.show3_time}}</td>
                  <td><button type="button" class="btn btn-primary" (click)="open(bookingModal)">Book Now</button></td>
                </tr>
                <tr>
                  <td>{{theatre.show4_movie}}</td>
                  <td>{{theatre.show4_time}}</td>
                  <td><button type="button" class="btn btn-primary" (click)="open(bookingModal)">Book Now</button></td>
                </tr>
              </tbody>
            </table>
          </div>
          
        </div>
      </div>
    </div>
  </div>
</div>



<ng-template #bookingModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Book Movie Ticket</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div *ngIf="showSuccessMessage" class="alert alert-success">
      Movie ticket has been booked successfully!
    </div>
    <div *ngIf="serverErrorMessage" class="alert alert-danger">
      {{ serverErrorMessage }}
    </div>
    <form [formGroup]="bookingForm" (ngSubmit)="onBookingFormSubmit()">
      <div class="form-group">
        <label for="showTime">Show Time:</label>
        <input type="text" formControlName="showTime" class="form-control">
      </div>
      <div class="form-group">
        <label for="movieName">Movie Name:</label>
        <input type="text" formControlName="movieName" class="form-control">
      </div>
      <div class="form-group">
        <label for="theatreName">Theatre Name:</label>
        <input type="text" formControlName="theatreName" class="form-control">
      </div>
      <div class="form-group">
        <label for="bookedSeats">Booked Seats:</label>
        <input type="text" formControlName="bookedSeats" class="form-control">
      </div>
      <div class="form-group">
        <label for="date">Date:</label>
        <input type="text" formControlName="date" class="form-control">
      </div>
      <div class="form-group">
        <label for="userEmail">Email:</label>
        <input type="text" formControlName="userEmail" class="form-control">
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.dismiss()">Close</button>
    <button type="button" class="btn btn-primary" (click)="onBookingFormSubmit()">Book Ticket</button>
  </div>
</ng-template> 